@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model BlogWebsite.ViewModels.HomeVM
@{
	ViewData["Title"] = "Forum";
}

<div class="container">

	@if (User.Identity!.IsAuthenticated)
	{
		<a class="btn btn-info mb-3 mt-3" type="button" asp-action="CreateForumPost" asp-controller="Forum" asp-area="Admin">Add Question</a>
	}
	else
	{
		<a class="btn btn-info mb-3 mt-3" type="button" asp-action="Login" asp-controller="User" asp-area="Admin">Add Question</a>
	}
	<div class="forum-list row row-cols-1 row-cols-md-2 g-4">
		<!-- Add Question Button -->
		@for (int i = Model.forumPosts!.Count - 1; i >= 0; i--)
		{
			var fpost = Model.forumPosts![i];
			<div class="col">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">@fpost.Title</h5>
						<p class="text-muted mb-1">Author: @fpost.ApplicationUsers!.FirstName @fpost.ApplicationUsers!.LastName</p>
						<div class="small text-muted">@fpost.CreatedDate.ToShortDateString()</div>
						@{
							var words = fpost.Description!.Split(' ');
							string shortenedTitle = words.Length > 10 ? string.Join(" ", words.Take(10)) + "..." : fpost.Description;
						}
						<p class="description mb-1">@Html.Raw(shortenedTitle)</p>
						<div class="tags">
							<button type="button" class="btn btn-outline-secondary btn-sm mr-1">@fpost.Tag!.Name</button>
						</div>
						<p class="text-muted view-comment">Views: @fpost.ViewCount | Comments: @fpost.CommentCount</p>
					</div>
				</div>
			</div>
		}
	</div>
</div>
