@model BlogWebsite.ViewModels.HomeVM

@{
    ViewData["Title"] = "Forum Post In Topic";
}

<div class="container">
    <!-- Add Question Button -->
    <div class="my-3">
        @if (User.Identity!.IsAuthenticated)
        {
            <a class="btn btn-info btn-sm" asp-action="CreateForumPost" asp-controller="Forum" asp-area="Admin">Add Question</a>
        }
        else
        {
            <a class="btn btn-info btn-sm" asp-action="Login" asp-controller="User" asp-area="Admin">Add Question</a>
        }
    </div>

    @if (Model.forumPosts != null && Model.forumPosts!.Any())
    {
        <div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var forumPost in Model.forumPosts!)
            {
                <div class="col">
                    <div class="card border-primary mb-3">
                        <div class="card-body">
                            <a asp-action="ForumPost" asp-controller="ForumPost" asp-route-slug="@forumPost.Slug">
                                <h5 class="card-title text-primary">@forumPost.Title</h5>
                            </a>
                            <div class="text-muted">@forumPost.CreatedDate.ToShortDateString()</div>
                            @{
                                var words = forumPost.Description!.Split(' ');
                                string shortenedDescription = words.Length > 20 ? string.Join(" ", words.Take(20)) + "..." : forumPost.Description;
                            }
                            <p class="card-text">@Html.Raw(shortenedDescription)</p>
                            <div class="text-muted">
                                <small>Views: @forumPost.ViewCount | Answer: @forumPost.AnswerCount</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <!-- Pagination -->
    <div class="d-flex justify-content-center my-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model?.forumPosts!.HasPreviousPage == false ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("ForumPostTopic", new { id = ViewBag.TopicId, keyword = ViewBag.CurrentFilter, page = Model?.forumPosts!.PageNumber - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                @for (var i = 1; i <= Model?.forumPosts!.PageCount; i++)
                {
                    <li class="page-item @(i == Model?.forumPosts!.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("ForumPostTopic", new { id = ViewBag.TopicId, keyword = ViewBag.CurrentFilter, page = i })">@i</a>
                    </li>
                }
                <li class="page-item @(Model?.forumPosts!.HasNextPage == false ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("ForumPostTopic", new { id = ViewBag.TopicId, keyword = ViewBag.CurrentFilter, page = Model?.forumPosts!.PageNumber + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
