@{
	ViewData["Title"] = "Index";
}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Users</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">List of Users</li>
		</ol>
		<div class="container-fluid">
			<a class="btn btn-primary mb-2" asp-action="Register" asp-controller="User">Add User</a>
			<div class="card">
				<div class="card-body">
					<table class="table table-striped table-hover" id="myTable">
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>User Name</th>
								<th>Email</th>
								<th>Role</th>
								@*<th>Active</th>*@
								@*<th>Action</th>*@
							</tr>
						</thead>
						<tbody>
							@foreach (var users in Model)
							{
								<tr>
									<td>@users.FirstName</td>
									<td>@users.LastName</td>
									<td>@users.UserName</td>
									<td>@users.Email</td>
									<td>@users.Role</td>
									@*<td>
								@if (User.Identity!.IsAuthenticated)
								{
								<span style="background-color: green; width: 15px; height: 15px; border-radius: 50%; display: inline-block;"></span>
								}
								else
								{
								<span style="background-color: gray; width: 15px; height: 15px; border-radius: 50%; display: inline-block;"></span>
								}
								</td>
								*@


									@if (User.IsInRole("Admin"))
									{
									@*	<td>
											<a class="btn btn-info" asp-action="ForgotPassword" asp-controller="User" asp-route-id="@users.Id">Reset Password</a>
										</td>*@
										@*<td>
											<form asp-area="Admin" asp-action="DeleteUser" asp-controller="User" asp-route-id="@users.Id" method="post" onsubmit="return confirm('Do you want to delete this user?')">
												<button type="submit" class="btn btn-danger btn-sm">Delete</button>
											</form>
										</td>*@
									}


								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</main>
