@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager;
@{
	var loggedInUser = new ApplicationUser();
	loggedInUser = _userManager.Users.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}


@using BlogWebsite.Data;
@using BlogWebsite.ViewModels;
@inject ApplicationDbContext _context;

@{
	var setting = _context.settings!.ToList();
	var vm = new SettingVM()
			{
				SiteName = setting[0].SiteName,
			};
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Techno Blog is a platform dedicated to technology-related blogs, providing a diverse range of articles covering tech, knowledge, and insights. Our platform invites everyone to contribute their thoughts, share expertise, and engage in discussions on our forums. Join our community to explore the latest trends, dive into tech-related topics, and exchange ideas in an interactive environment." />
	<meta name="author" content="Le Duc Tai, .NET Core Developer. Passionate about crafting robust solutions using .NET technologies, constantly exploring new trends in software development and contributing to the tech community." />
	<title>@ViewData["Title"] - @vm.SiteName</title>
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<link rel="stylesheet" href="~/bootstrap/css/customStyle.css">
	<link rel="stylesheet" href="~/bootstrap/css/tag.css">
	<link rel="stylesheet" href="~/bootstrap/css/styles.css">
	<link rel="stylesheet" href="~/bootstrap/css/thumbnail.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />

</head>
<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="custom-navbar-brand" asp-controller="Home" asp-action="Index">@vm.SiteName</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item" style="margin-top: 4px;">
						<form asp-controller="Home" asp-action="Index" method="get" class="input-group">
							<div class="form-outline">
								<input id="search-input" name="keyword" type="search" placeholder="Search..." class="form-control form-control-sm box-shadow" style="border-bottom-left-radius:30px;border-top-left-radius:30px;" />
							</div>
							<button type="submit" class="btn btn-sm btn-secondary" style="border-bottom-right-radius:30px;border-top-right-radius:30px;">
								<i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
							</button>
						</form>
					</li>
					<li class="custom-nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="custom-nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About</a></li>
					<li class="custom-nav-item"><a class="nav-link" asp-controller="Home" asp-action="GetTags">Tags</a></li>
					<li class="custom-nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Forum</a></li>
					@if (User.Identity!.IsAuthenticated)
					{
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
								Hello @User.Identity.Name
							</a>
							<ul class="dropdown-menu" style="border-radius:10px;">
								<li class=nav-item><a class="nav-link" asp-area="Admin" asp-controller="Post" asp-action="Index">Dashboard</a></li>
								<li class=nav-item><a class="nav-link" asp-controller="Post" asp-action="CreatePost" asp-area="Admin">Create Post</a></li>
								<form asp-action="Logout" asp-controller="User" asp-area="Admin" method="post">
									<button type="submit" class="dropdown-item">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</button>
								</form>
							</ul>
						</li>
					}
					else
					{
						<li class="custom-nav-item"><a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Login">Login</a></li>
					}
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page content-->

	<div class="main-content">
		@RenderBody()
	</div>
	<button id="moveToTopBtn" onclick="moveToTop()" title="MoveToTop">↑</button>

	<!-- Footer -->
	<footer class="py-5 custom-footer">
		<div class="container">
			<p class="m-0 text-center text-white">
				Copyright &copy; Le Duc Tai - Bui Ngoc Na 2023
			</p>
		</div>
	</footer>

</body>
</html>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/bootstrap/js/scripts.js"></script>
<script src="~/bootstrap/js/moveToTop.js"></script>