@model BlogWebsite.ViewModels.BlogPostVM


@{
	ViewData["Title"] = "Post";
	string thumbnailUrl = "";
	if (Model.ThumbnailUrl == null)
	{
		thumbnailUrl = "/blog/assets/img/post-bg.jpg";
	}
	else
	{
		thumbnailUrl = "/thumbnails/" + Model.ThumbnailUrl;
	}


}

<main class="mt-4 mb-5">
	<div class="container">
		<!--Grid row-->
		<div class="row">
			<!--Grid column-->
			<div class="col-md-8 mb-4" id="contentColumn">
				<!--Section: Post data-mdb-->
				<section class="border-bottom mb-4">
					<img src="@thumbnailUrl" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="@Model.Title" /><br>
					<span class="meta">
						<i class="fa-solid fa-user"></i> <b>@Model.AuthorName</b><br>
						<i class="fa-solid fa-clock"></i> @Model.CreatedDate.ToLongDateString() | @Model.CreatedDate.ToShortTimeString()<br>
						<i class="fa-solid fa-eye"></i> @Model.ViewCount
					</span>
					<hr />
					<div class="row align-items-center mb-4">
						<div class="col-lg-9 text-center text-lg-start mb-3 m-lg-0">
							<h1 style="display: block;color:#B03A2E;">@Model.Title</h1>

							@if (!string.IsNullOrEmpty(Model.TagName))
							{
								<button type="button" class="btn px-3 me-1" style="color:white;background-color: #28B463;">
									@Model.TagName
								</button>
							}
							else
							{
								<button type="button" class="btn px-3 me-1" style="background-color: #28B463;">
									None Tag
								</button>
							}

						</div>
						<div class="col-lg-3 text-center text-lg-end">
							<div class="d-flex justify-content-end">
								<!-- Các nút mạng xã hội -->
								<button type="button" class="btn btn-primary px-3 me-1" aria-label="Facebook" title="facebook" style="background-color: #3b5998;">
									<i class="fab fa-facebook-f"></i>
								</button>
								<button type="button" class="btn btn-primary px-3 me-1" aria-label="twitter" title="twitter" style="background-color: #55acee;">
									<i class="fab fa-twitter"></i>
								</button>
								<button type="button" class="btn btn-primary px-3 me-1" aria-label="linkedin" title="linkedin" style="background-color: #0082ca;">
									<i class="fab fa-linkedin"></i>
								</button>
								<button onclick="scrollToCommentList()" type="button" aria-label="comments" title="comments" class="btn btn-primary px-3 me-1">
									<i class="fas fa-comments"></i>
								</button>
							</div>
						</div>
					</div>
				</section>



				<!--Section: Post data-mdb-->
				<!--Section: Text-->
				<div class="description-text">
					@Html.Raw(Model.Description)
				</div>
				<!--Section: Text-->
				<!--Section: Share buttons-->
				<section class="text-center border-top border-bottom py-4 mb-4">
					<p><strong>Share with your friends:</strong></p>

					<button type="button" class="btn btn-primary px-3 me-1" aria-label="Facebook" title="facebook" style="background-color: #3b5998;">
						<i class="fab fa-facebook-f"></i>
					</button>
					<button type="button" class="btn btn-primary px-3 me-1" aria-label="twitter" title="twitter" style="background-color: #55acee;">
						<i class="fab fa-twitter"></i>
					</button>
					<button type="button" class="btn btn-primary px-3 me-1" aria-label="linkedin" title="linkedin" style="background-color: #0082ca;">
						<i class="fab fa-linkedin"></i>
					</button>
					<a onclick="scrollToComment()" aria-label="comments" title="comments" class="btn btn-primary me-1">
						<i class="fas fa-comments me-2"></i>Add Comment
					</a>
				</section>
				<!--Section: Share buttons-->
				<!--Section: Comments-->
				<!--Section: Reply-->
				<section id="commentSection">
					<p class="text-center"><strong>Leave a reply</strong></p>

					<form asp-controller="Blog" asp-action="AddComment" method="post">
						<!-- Các trường dữ liệu cho comment -->
						<input type="hidden" name="postId" value="@Model.Id" /> <!-- Sử dụng Id của post hiện tại -->
						<div class="form-outline mb-4">
							<label class="form-label" for="description ">Comment</label>
<textarea class="form-control" id="description" name="description" rows="4" required aria-label="Description" placeholder="Enter Description Here" aria-required="true"></textarea>

							<small id="contentHelp" class="form-text text-muted">Min length: 10, Max length: 500 characters.</small>
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-4">
							Submit Comment
						</button>
					</form>
				</section>
				<!--Section: Comments-->
				<!-- Hiển thị danh sách comment -->

				<section id="commentListSection" class="gradient-custom">
					<div class="container my-5 py-5">
						<div class="row d-flex justify-content-center">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<div class="card">
									<div class="card-body p-4">
										<div role="heading" aria-level="4" class="text-center mb-4 pb-2" style="color: #333;">
											@if (Model.Comments?.Count != null && Model.Comments.Count > 0)
											{
												<span>@Model.Comments.Count bình luận</span>
											}
											else
											{
												<span>No Comments</span>
											}
										</div>
										@if (Model.Comments != null && Model.Comments.Count > 0)
										{
											<div class="row">
												<div class="col">
													<ul class="list-unstyled">
														@foreach (var comment in Model.Comments.Where(c => c.ParentCommentId == null))
														{
															<li class="media my-4">
																<div class="media-body">
																	<div class="d-flex justify-content-between">
																		<h5 class="mt-0 mb-1" style="color: #333;">@comment.ApplicationUsers?.UserName <span class="small">- @comment.CreatedDate.ToShortDateString()</span></h5>
																		<button class="btn btn-sm btn-primary" onclick="showReplyForm(@comment.Id)">
																			<i class="fas fa-reply" style="color: #fff;"></i>
																		</button>
																	</div>
																	<p style="color: #555;">@comment.Description</p>
																	<!-- Form trả lời ẩn -->
																	<form id="replyForm_@comment.Id" class="mt-3 d-none" asp-controller="Blog" asp-action="AddReply" method="post">
																		<input type="hidden" name="parentId" value="@comment.Id" />
																		<input type="hidden" name="postId" value="@Model.Id" />
																		<input type="hidden" name="replyTo" value="@comment.ApplicationUsers!.UserName" />
																		<div class="form-outline mb-4">
																			<label class="form-label" for="description" style="color: #333;">Reply</label>
																			<textarea class="form-control" id="replyDescription_@comment.Id" name="description" rows="2" required aria-label="Your Reply" placeholder="Enter Your Reply Here" aria-required="true"></textarea>
																		</div>
																		<button type="submit" class="btn btn-primary btn-sm">Reply</button>
																	</form>
																	@if (User.Identity!.IsAuthenticated && comment.ApplicationUsers != null && comment.ApplicationUsers.UserName == User.Identity.Name)
																	{
																		<form id="deleteForm_@comment.Id" class="mt-3" asp-controller="Blog" asp-action="DeleteComment" method="post">
																			<input type="hidden" name="commentId" value="@comment.Id" />
																			<button type="submit" class="btn btn-danger btn-sm">Delete</button>
																		</form>
																	}

																	@foreach (var reply in Model.Comments.Where(r => r.ParentCommentId == comment.Id))
																	{
																		<div class="media mt-4" style="margin-left: 20px;">
																			<div class="media-body">
																				<h5 class="mt-0 mb-1" style="color: #333;">@reply.ApplicationUsers?.UserName <span class="small">- @reply.CreatedDate.ToShortDateString()</span></h5>
																				<p style="color: #555;">@reply.Description</p>

																				@if (User.Identity!.IsAuthenticated && reply.ApplicationUsers != null && reply.ApplicationUsers.UserName == User.Identity.Name)
																				{
																					<form id="deleteForm_@reply.Id" class="mt-3" asp-controller="Blog" asp-action="DeleteComment" method="post">
																						<input type="hidden" name="commentId" value="@reply.Id" />
																						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
																					</form>
																				}
																			</div>
																		</div>
																	}
																</div>
															</li>
														}
													</ul>
												</div>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>



				<!--Section: Reply-->
			</div>
			<div class="col-md-4 mb-4" id="google-ad">
				<!--Section: Sidebar-->
				<section class="sticky-top" style="top: 80px;">
					<!--Section: Ad-->
					<section class="text-center border-bottom pb-4 mb-4">
						<div class="bg-image hover-overlay ripple mb-4">
							<img src="~/bootstrap/assets/Screenshot 2023-11-21 102024.png"
		 class="img-fluid" alt="ads" />
							<img src="~/bootstrap/assets/Screenshot 2023-11-21 102057.png"
		 class="img-fluid" alt="ads" />
						</div>

					</section>
					<!--Section: Ad-->
					<!--Section: Video-->
					<section class="text-center">
						<h5 class="mb-4">Learn the newest Bootstrap 5</h5>

						<div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
							<iframe class="embed-responsive-item rounded-5" src="https://www.youtube.com/embed/1LfM0fgxio4?si=lkzlniDPTRa-IhT0"
									allowfullscreen></iframe>
						</div>
					</section>
					<!--Section: Video-->
				</section>
				<!--Section: Sidebar-->
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
</main>

<script>
	// Kiểm tra kích thước của hình ảnh khi trang được tải
	window.onload = function () {
		resizeImages();
	};

	// Hàm để thu nhỏ hình ảnh nếu nó quá lớn
	function resizeImages() {
		var contentColumn = document.getElementById('contentColumn');
		var images = contentColumn.getElementsByTagName('img');

		for (var i = 0; i < images.length; i++) {
			if (images[i].naturalWidth > contentColumn.offsetWidth * 1) {
				images[i].style.maxWidth = '100%';
				images[i].style.height = 'auto';
			}
		}
	}
</script>
<script>
	function scrollToComment() {
		var commentSection = document.getElementById('commentSection');
		if (commentSection) {
			commentSection.scrollIntoView({ behavior: 'smooth' });
		}
	}
	function scrollToCommentList() {
		var commentSection = document.getElementById('commentListSection');
		if (commentSection) {
			commentSection.scrollIntoView({ behavior: 'smooth' });
		}
	}
</script>
<script>
	function showReplyForm(commentId) {
		var replyForm = document.getElementById(`replyForm_${commentId}`);
		if (replyForm) {
			if (replyForm.classList.contains('d-none')) {
				replyForm.classList.remove('d-none');
			} else {
				replyForm.classList.add('d-none');
			}
		}
	}
</script>
