@model BlogWebsite.ViewModels.BlogPostVM

@{
	ViewData["Title"] = "Post";

	string thumbnailUrl = "";
	if (Model.ThumbnailUrl == null)
	{
		thumbnailUrl = "/blog/assets/img/post-bg.jpg";
	}
	else
	{
		thumbnailUrl = "/thumbnails/" + Model.ThumbnailUrl;
	}
}

<main class="mt-4 mb-5">
	<div class="container">
		<!--Grid row-->
		<div class="row">
			<!--Grid column-->
			<div class="col-md-8 mb-4" id="contentColumn">
				<!--Section: Post data-mdb-->
				<section class="border-bottom mb-4">
					<img src="@thumbnailUrl" class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" /><br>
					<span class="meta">
						<i class="fa-solid fa-user"></i> <b>@Model.AuthorName</b><br>
						<i class="fa-solid fa-clock"></i> @Model.CreatedDate.ToLongDateString() | @Model.CreatedDate.ToShortTimeString()<br>
					</span>
					<hr />
					<div class="row align-items-center mb-4">
						<div class="col-lg-9 text-center text-lg-start mb-3 m-lg-0">
							<h1 style="display: block;color:#B03A2E;">@Model.Title</h1>

							@if (!string.IsNullOrEmpty(Model.TagName))
							{
								<button type="button" class="btn px-3 me-1" style="background-color: #3b5998;">
									@Model.TagName
								</button>
							}
							else
							{
								<button type="button" class="btn px-3 me-1" style="background-color: #3b5998;">
									None Tag
								</button>
							}

						</div>
						<div class="col-lg-3 text-center text-lg-end">
							<div class="d-flex justify-content-end">
								<!-- Các nút mạng xã hội -->
								<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
									<i class="fab fa-facebook-f"></i>
								</button>
								<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
									<i class="fab fa-twitter"></i>
								</button>
								<button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
									<i class="fab fa-linkedin"></i>
								</button>
								<button onclick="scrollToCommentList()" type="button" class="btn btn-primary px-3 me-1">
									<i class="fas fa-comments"></i>
								</button>
							</div>
						</div>
					</div>
				</section>



				<!--Section: Post data-mdb-->
				<!--Section: Text-->
				<div class="description-text">
					@Html.Raw(Model.Description)
				</div>
				<!--Section: Text-->
				<!--Section: Share buttons-->
				<section class="text-center border-top border-bottom py-4 mb-4">
					<p><strong>Share with your friends:</strong></p>

					<button type="button" class="btn btn-primary me-1" style="background-color: #3b5998;">
						<i class="fab fa-facebook-f"></i>
					</button>
					<button type="button" class="btn btn-primary me-1" style="background-color: #55acee;">
						<i class="fab fa-twitter"></i>
					</button>
					<button type="button" class="btn btn-primary me-1" style="background-color: #0082ca;">
						<i class="fab fa-linkedin"></i>
					</button>
					<a onclick="scrollToComment()" class="btn btn-primary me-1">
						<i class="fas fa-comments me-2"></i>Add Comment
					</a>
				</section>
				<!--Section: Share buttons-->
				<!--Section: Comments-->
				<section id="commentListSection" class="border-bottom mb-3">
					<p class="text-center" style="color:black;"><strong>Comments: 3</strong></p>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-12">
							<p class="mb-2"><strong>Marta Dolores</strong></p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
								inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
								Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-12">
							<p class="mb-2"><strong>Marta Dolores</strong></p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
								inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
								Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>

					<!-- Comment -->
					<div class="row mb-4">
						<div class="col-12">
							<p class="mb-2"><strong>Marta Dolores</strong></p>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
								inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
								Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
							</p>
						</div>
					</div>
				</section>
				<!--Section: Comments-->
				<!--Section: Reply-->
				<section id="commentSection">
					<p class="text-center"><strong>Leave a reply</strong></p>

					<form asp-area="Admin" asp-controller="Comment" asp-action="CreateComment" method="post">
						<!-- Các trường dữ liệu cho comment -->
						<input type="hidden" name="postId" value="@Model.Id" /> <!-- Sử dụng Id của post hiện tại -->
						<div class="form-outline mb-4">
							<label class="form-label" for="commentContent">Comment</label>
							<textarea class="form-control" id="commentContent" name="content" rows="4" required></textarea>
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-4">
							Submit Comment
						</button>
					</form>
				</section>
				<!--Section: Reply-->
			</div>
			<div class="col-md-4 mb-4" id="google-ad">

				<!--Section: Sidebar-->
				<section class="sticky-top" style="top: 80px;">
					<!--Section: Ad-->
					<section class="text-center border-bottom pb-4 mb-4">
						<div class="bg-image hover-overlay ripple mb-4">
							<img src="~/bootstrap/assets/Screenshot 2023-11-21 102024.png"
		 class="img-fluid" />
							<img src="~/bootstrap/assets/Screenshot 2023-11-21 102057.png"
		 class="img-fluid" />
						</div>

					</section>
					<!--Section: Ad-->
					<!--Section: Video-->
					<section class="text-center">
						<h5 class="mb-4">Learn the newest Bootstrap 5</h5>

						<div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
							<iframe class="embed-responsive-item rounded-5" src="https://www.youtube.com/embed/1LfM0fgxio4?si=lkzlniDPTRa-IhT0"
									allowfullscreen></iframe>
						</div>
					</section>
					<!--Section: Video-->
				</section>
				<!--Section: Sidebar-->
			</div>
			<!--Grid column-->
		</div>
		<!--Grid row-->
	</div>
</main>

<script>
	// Kiểm tra kích thước của hình ảnh khi trang được tải
	window.onload = function () {
		resizeImages();
	};

	// Hàm để thu nhỏ hình ảnh nếu nó quá lớn
	function resizeImages() {
		var contentColumn = document.getElementById('contentColumn');
		var images = contentColumn.getElementsByTagName('img');

		for (var i = 0; i < images.length; i++) {
			if (images[i].naturalWidth > contentColumn.offsetWidth * 1) {
				images[i].style.maxWidth = '100%';
				images[i].style.height = 'auto';
			}
		}
	}
</script>
<script>
	function scrollToComment() {
		var commentSection = document.getElementById('commentSection');
		if (commentSection) {
			commentSection.scrollIntoView({ behavior: 'smooth' });
		}
	}
	function scrollToCommentList() {
		var commentSection = document.getElementById('commentListSection');
		if (commentSection) {
			commentSection.scrollIntoView({ behavior: 'smooth' });
		}
	}
</script>